.start{
	position:absolute;
	left: 1109px;
	top: 169px;
	width: 228px;
}
.highscore{
	position:absolute;
	left: 1109px;
	top: 236px;
	width: 228px;
}
.quit{
	position:absolute;
	left: 1109px;
	top: 305px;
	width: 228px;
}